body {
    padding-top:40px;
    background-image: url(../img/space.png);
    background-size:cover;
    background-attachment:inherit;
}

h1, h3, a, p {
    font-family:Courier, sans-serif;
    color: #FFF;
}

h1 {
    font-size:6vw;
    margin:40px 0;
}

h3 {
    font-size:3vw;
    margin:10px 0 50px 0;
    text-align: center;
}

a:hover {
   color:#00A; 
    text-decoration: none;
}

.featured {
    font-family:Courier, sans-serif;
    color: #FFF;
    font-size:4vw;
    background-color: rgba(0, 0, 0, .5);
    margin-top:5%;
    margin-bottom: 10%;
    padding:15px;
    text-align: center;
    position:relative;
    z-index:1000;
}

.title {
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

.logo {
    margin-top:8%;
    position:relative;
    z-index:1000;
}

/* FOOTER */
.credits {
    font-family: Century Gothic, sans-serif;
    font-size: 1.2em;
    color: #bbb;
    text-align:center;
    position:static;
    bottom:0;
    margin: 20px 0 0 0;
}

